/* all bigger than a tablet */
/* large screen */
/*desktop and tablet landscape */
/* mobile */
/* specifi mobile landscape */
/* specific portrait */
/* specific landscape*/
/* specifi mobile landscape */
#quartier {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1149px) {
  #quartier {
    justify-content: left;
    flex-wrap: wrap;
  }
}

.site-content-contain .site-content {
  padding: 0 0 0 0 !important;
  background: #FCF3E4;
}

.site-content-contain .main-slider {
  padding-bottom: 40px !important;
}

footer .wpcf7 p {
  margin: 0;
}

.main-footer {
  clear: both !important;
}

.single #primary {
  width: 100% !important;
  max-width: 100%;
  clear: both;
}

.sidebar-page .search-form label {
  display: none;
}

.parent.comment {
  padding-left: 0px !important;
}

.comment-reply-link, .comment-reply-link:hover {
  text-decoration: none;
  box-shadow: none;
  color: #fff;
}

.page #content .wpcf7-form h4 {
  font-family: 'Raleway';
  font-size: 15px;
  font-weight: bold;
  padding: 16px 0 0 0;
  color: #303353;
}

.page #content .wpcf7-form label {
  width: 100%;
  display: block;
  margin-top: 15px;
}

.page #content .wpcf7-form select {
  padding-left: 16px;
  display: block;
}

.page #content .wpcf7-form .wpcf7-form-control-wrap, .page #content .wpcf7-form select {
  float: none;
  display: block;
  width: 100%;
  padding-top: 0;
}

.page #content .wpcf7-form .wpcf7-form-control-wrap.travaux .wpcf7-form-control, .page #content .wpcf7-form select.travaux .wpcf7-form-control {
  display: flex;
}

@media (max-width: 1149px) {
  .page #content .wpcf7-form .wpcf7-form-control-wrap.travaux .wpcf7-form-control, .page #content .wpcf7-form select.travaux .wpcf7-form-control {
    flex-wrap: wrap;
  }
}

.page #content .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item, .page #content .wpcf7-form select .wpcf7-list-item {
  width: 200px;
}

.page #content .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item label, .page #content .wpcf7-form select .wpcf7-list-item label {
  display: flex;
  align-items: center;
}

.page #content .wpcf7-form .wpcf7-form-control-wrap .wpcf7-list-item label input[type="checkbox"], .page #content .wpcf7-form select .wpcf7-list-item label input[type="checkbox"] {
  width: auto;
  min-width: 16px;
  margin-right: 11px;
  padding: 0;
  margin: 0 8px 0 0;
}

@media (max-width: 767px) {
  .page #content .wpcf7-form .wpcf7-form-control-wrap, .page #content .wpcf7-form select {
    float: none;
    display: block;
    width: 100%;
    padding: 0;
  }
}

.page #content .wpcf7-form .wpcf7-form-control-wrap input, .page #content .wpcf7-form .wpcf7-form-control-wrap textarea, .page #content .wpcf7-form select input, .page #content .wpcf7-form select textarea {
  position: relative;
  display: block;
  line-height: 30px;
  height: 40px;
  padding: 0 20px;
  color: #555555;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  transition: all 500ms ease;
}

.page #content .wpcf7-form .wpcf7-form-control-wrap textarea, .page #content .wpcf7-form select textarea {
  height: 80px;
  width: 100%;
  margin-bottom: 30px;
}

.page #content .wpcf7-form input[type="submit"] {
  max-width: 300px;
  float: none;
  margin: 0 auto;
  display: block;
  background: #EF7D5B;
}

@media (max-width: 767px) {
  .page #content .wpcf7-form input[type="submit"] {
    max-width: 100%;
    margin-right: 0;
  }
}

.page #content .wpcf7-form .wpcf7-not-valid-tip {
  font-weight: bold;
}

.other-info .contact-sp-form input[type="submit"] {
  margin-right: 15px;
  margin-top: 15px;
}

.other-info .contact-sp-form input[type="submit"]:hover {
  border: 2px solid #f14b05;
  box-sizing: border-box;
}

.other-info .contact-sp-form .wpcf7-not-valid {
  border: 1px solid #f00 !important;
}

.other-info .contact-sp-form .wpcf7-not-valid-tip {
  padding-bottom: 12px;
}

.other-info .contact-sp-form .wpcf7-validation-errors {
  display: block !important;
  clear: both !important;
  border: 2px solid #f00;
  color: #f00;
  padding-left: 0;
  padding-right: 0;
  text-indent: 8px;
}

.other-info .contact-sp-form label.error {
  color: #f00;
}

.footer-upper .wpcf7-form-control-wrap {
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
}

.contact-section h2 {
  padding-left: 13px;
  margin: 0;
  padding-top: 0;
}

.contact-section .title-sct {
  color: #e5aee1;
  font-size: 30px;
  letter-spacing: 2px;
}

.default-featured-column .image-box, .category .blog-news-column .image-box {
  height: 216px;
}

.default-featured-column .image-box img, .category .blog-news-column .image-box img {
  width: 100%;
  height: auto !important;
  position: absolute;
  top: 0;
  left: 0;
}

.vertical-links-outer.events-post .default .image-thumb {
  overflow: hidden;
}

@media all and (max-width: 1023px) {
  .vertical-links-outer.events-post .default .image-thumb {
    position: static;
  }
}

.vertical-links-outer.events-post .default .image-thumb img {
  height: 100%;
  max-width: initial !important;
  width: auto;
}

@media (max-width: 1149px) {
  html body {
    padding-top: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0;
    position: relative;
  }
  html body.single, html body.page {
    padding-top: 0;
  }
  html body.open-nav {
    overflow: hidden;
    left: 60%;
    background: #000;
  }
  html body.open-nav .btn-contact-link {
    opacity: 0.3;
  }
  html body.open-nav:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: block;
  }
  html body.open-nav .main-menu .navbar-toggle {
    left: 20px;
    background-color: #e5aee1;
    border-radius: 0 5px 5px 0;
  }
}

@media (max-width: 1149px) and (max-width: 1149px) {
  html body.open-nav .main-menu .navbar-toggle {
    min-width: 50px;
  }
}

@media (max-width: 1149px) {
  html body.open-nav .main-menu .navbar-toggle span {
    background-color: #fff !important;
    width: 100%;
  }
  html body.open-nav .main-menu .navbar-toggle span:nth-child(1) {
    transform: rotate(-45deg);
    width: 80%;
    position: absolute;
    left: 6px;
    top: 20px;
  }
  html body.open-nav .main-menu .navbar-toggle span:nth-child(3) {
    transform: rotate(45deg);
    width: 80%;
    position: absolute;
    left: 6px;
    top: 17px;
  }
  html body.open-nav .main-menu .navbar-toggle span:nth-child(2) {
    display: none;
  }
  html body.open-nav .header-style-two {
    left: 100%;
  }
  html body.open-nav .header-style-two .navbar-header {
    left: 80%;
    top: 18px;
    position: fixed;
  }
  html body.open-nav .header-style-two .navbar-header .navbar-toggle {
    background: #e5aee1 !important;
  }
  html body.open-nav .header-style-two .btn-box {
    display: none;
  }
}

@media (max-width: 1149px) {
  html .main-menu {
    padding: 0;
    width: 85%;
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 10000000;
    background: rgba(49, 49, 49, 0.9) !important;
  }
  html .main-menu .navbar-header {
    position: absolute;
    top: 2px;
    padding: 0 !important;
    margin: 0 !important;
    display: block !important;
    width: 30px;
    left: 0;
  }
  html .main-menu .navbar-header:before, html .main-menu .navbar-header:after {
    display: block !important;
  }
  html .main-menu .navbar-header .nav-bar {
    position: absolute !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  html .main-menu .navbar-header .navbar-toggle {
    background: transparent;
    border: 0 none;
    left: initial;
    right: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    height: 46px;
  }
  html .main-menu .navbar-header .navbar-toggle.active {
    background: transparent;
    border-radius: 5px;
  }
  html .main-menu .navbar-header .navbar-toggle span {
    background: #fff !important;
    height: 3px;
    border-radius: 10px;
    width: 33px;
  }
  html .main-menu .navbar-header .navbar-toggle span:first-child {
    width: 90%;
  }
  html .main-menu .navbar-header .navbar-toggle span:last-child {
    width: 80%;
  }
  html .main-menu .collapse, html .main-menu .collapsing {
    position: fixed !important;
    top: 0 !important;
    left: -100% !important;
    height: 100% !important;
    width: 85% !important;
    max-height: initial !important;
    background: #fff !important;
    display: block !important;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: -16px 0 20px #000;
  }
  html .main-menu .collapse.in, html .main-menu .collapsing.in {
    padding: 0;
    margin: 0;
    height: 100%;
    max-height: initial;
    position: fixed;
    top: 0 !important;
    left: 0 !important;
    background: #fff !important;
    border: 1px solid #e5aee1 !important;
    padding: 40px !important;
    border-radius: 0;
  }
}

@media (max-width: 1149px) and (max-width: 1149px) {
  html .main-menu .collapse.in, html .main-menu .collapsing.in {
    background: #e5aee1 !important;
  }
}

@media (max-width: 1149px) {
  html .main-menu .collapse .navigation, html .main-menu .collapsing .navigation {
    border: 0 none !important;
    padding: 0;
    background-color: transparent;
  }
  html .main-menu .collapse .navigation li, html .main-menu .collapsing .navigation li {
    border: 0 none !important;
    line-height: 50px !important;
    padding: 0 !important;
    text-indent: 15px;
    position: relative;
    background: transparent !important;
  }
  html .main-menu .collapse .navigation li.current-menu-item a, html .main-menu .collapse .navigation li.current a, html .main-menu .collapsing .navigation li.current-menu-item a, html .main-menu .collapsing .navigation li.current a {
    color: #e5aee1 !important;
  }
}

@media (max-width: 1149px) and (max-width: 1149px) {
  html .main-menu .collapse .navigation li.current-menu-item a, html .main-menu .collapse .navigation li.current a, html .main-menu .collapsing .navigation li.current-menu-item a, html .main-menu .collapsing .navigation li.current a {
    background: #fff !important;
    border-radius: 35px;
    padding: 0 8px !important;
  }
}

@media (max-width: 1149px) {
  html .main-menu .collapse .navigation li .icon, html .main-menu .collapsing .navigation li .icon {
    height: 25px;
    width: 25px;
    line-height: 50px;
    text-align: center;
    font-size: 6px;
    position: absolute;
    top: 10px;
    right: 12px;
  }
  html .main-menu .collapse .navigation li .dropdown-btn, html .main-menu .collapsing .navigation li .dropdown-btn {
    height: 50px !important;
    width: 50px !important;
    line-height: 50px !important;
    text-align: center !important;
    font-size: 13px;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    left: initial !important;
    display: block !important;
  }
  html .main-menu .collapse .navigation li.dropdown a:before, html .main-menu .collapsing .navigation li.dropdown a:before {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    display: none;
  }
  html .main-menu .collapse .navigation li.dropdown .sub-menu li, html .main-menu .collapsing .navigation li.dropdown .sub-menu li {
    background: #fff !important;
  }
  html .main-menu .collapse .navigation li.dropdown .sub-menu li.current a, html .main-menu .collapsing .navigation li.dropdown .sub-menu li.current a {
    color: #e5aee1 !important;
    background: #fff !important;
  }
  html .main-menu .collapse .navigation li.dropdown .sub-menu li.current a:after, html .main-menu .collapsing .navigation li.dropdown .sub-menu li.current a:after {
    top: 12px;
    color: #e5aee1 !important;
  }
  html .main-menu .collapse .navigation li.dropdown .sub-menu li + li, html .main-menu .collapsing .navigation li.dropdown .sub-menu li + li {
    border-top: 0 none !important;
  }
  html .main-menu .collapse .navigation li a, html .main-menu .collapsing .navigation li a {
    padding: 0 !important;
    color: #141625;
    line-height: 50px;
    background: transparent !important;
    font-size: 20px;
  }
}

@media (max-width: 1149px) and (max-width: 1149px) {
  html .main-menu .collapse .navigation li a, html .main-menu .collapsing .navigation li a {
    font-size: 15px;
  }
}

@media (max-width: 1149px) {
  html .main-menu .collapse .navigation li + li, html .main-menu .collapsing .navigation li + li {
    border-top: 0 none !important;
    margin-top: 11px !important;
  }
}

html .header-style-two .lower-part {
  height: auto !important;
}

@media all and (max-width: 767px) {
  html .header-style-two .lower-part .outer-box {
    padding: 0;
  }
}

@media (max-width: 1149px) {
  html .header-style-two .lower-part .outer-box .btn-box {
    width: 100%;
    clear: both;
    position: fixed;
    bottom: 0 !important;
    top: initial !important;
    left: 0;
    height: auto;
  }
}

@media all and (max-width: 1023px) {
  html .header-style-two .header-top .logo img {
    max-width: 185px !important;
  }
}

html .sec-title {
  position: relative;
  margin-bottom: 50px;
  font-family: arial;
  margin-top: 95px;
}

html .sec-title h2 span {
  font-weight: bold;
}

html .sec-title .text {
  color: #000 !important;
}

@media all and (max-width: 1023px) {
  html .vertical-links-outer.events-post .default {
    padding: 15px 70px 20px 20px;
  }
}

html .main-menu .whiteFixed li a {
  color: #fff !important;
}

.defaultContent {
  padding-top: 50px;
  padding-bottom: 50px;
}

.defaultContent h1, .defaultContent h4 {
  font-size: 30px;
  color: #303353;
  font-weight: bold;
  padding-bottom: 24px;
}

.defaultContent p {
  font-size: 19px;
  line-height: 38px;
  font-weight: normal;
  color: #070707;
}

.contact-view {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 1149px) {
  .contact-view {
    flex-wrap: wrap;
  }
}

.contact-view .map-canvas {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: auto !important;
}

@media (max-width: 1149px) {
  .contact-view .map-canvas {
    width: 100%;
    height: 450px !important;
    order: 2;
  }
}

.contact-view .default-section {
  width: 50%;
  padding-top: 0;
  position: relative;
  left: -130px;
  background: #fff;
  top: 57px;
  border-top: 10px solid #e5aee1;
}

@media (max-width: 1149px) {
  .contact-view .default-section {
    width: 100%;
    order: 1;
    position: static;
    border-top: 0 none;
  }
}

.contact-view .default-section .defaultContent {
  padding-top: 0;
}

.contact-view .default-section .defaultContent .row {
  margin: 0;
}

.contact-view .default-section .defaultContent .row > div {
  margin: 0;
  padding: 0;
}

.contact-view .default-section .other-info {
  padding: 20px 50px !important;
  margin: 0;
  background: #fff;
}

@media (max-width: 1149px) {
  .contact-view .default-section .other-info {
    padding: 20px 0 !important;
  }
}

.contact-view .default-section .other-info .info-box {
  padding: 0 0 30px;
}

.contact-view .title-colsingle {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0;
}

.contact-view .contact-section {
  padding: 0 30px 30px;
}

.contact-view .contact-section .title-colsingle {
  color: #e5aee1;
}

.contact-view .contact-section .contact-form {
  width: 100%;
}

.contact-view .wpcf7-response-output {
  border-color: #e00002;
}

@media (max-width: 1149px) {
  html #page .default-section {
    width: 100%;
    padding: 40px 0;
  }
}

@media (max-width: 1149px) {
  html #page .default-section .title_devis {
    padding: 0 40px;
  }
}

/*# sourceMappingURL=maps/theme.css.map */
