.pdp_service {
    display: flex;
    padding: 0 0 30px;
    @include mbLarge {
        flex-wrap: wrap;
    }
}

.ct_pd {
    width: 50%;
    padding: 0 40px;

    @include mbLarge {
        width: 100%;
    }
   &.ct_pdp_img {
    img {
        width: 100%;
    }
   }
   &.ct_pdp_txt {
       @include mbLarge {
           padding-top: 30px;
       }
    p {
        color: $txtScd;
        font-size: 16px;
    }
   }

   .ttl_ct_pd {
       padding-bottom: 24px;
       color: $primarymya2;
       font-size: 30px !important;
   }

   .ttl_price_pd {
       font-weight: bold; 
        color: $ctaSubmit;
        padding: 0 0 24px 0;
        margin: 0;
        font-size: 30px;
   }
}