$redcolor : #df2b2a;
$redcolor2 : #f2aaaa;
$redcolor3:#ff554c;
$blueLabel : #838e96;
$blueFooter : #838e96;
$colorInput : #a0aab1;
$bgBlue : #838e96;
$blueButton : #e30613;
$blueColor3 : #0080b4;
$blueActive : #0080b4;
$blueColor : #005270;
$blueColor2 : #99bac6;
$colorWhite : #fff;
$bgFormActive  : #eaf3f8;
$bgErrorForm : #f9dfdf;
$activeLabel : #005270;
$bluebg1 : #f4f7f9;
$bluebg2 : #e5f2f7;
$white: #fff;
$black: #000;
$bgLabel : #f0f3f5;
$bgGrey : #bfc7cc;
$blueColor4 : #f2f9fb;
$grey2:#cee0e6;
$borderLeft : #d2d7db;
$grey3 : #d2d7db;
$bgContent :#f3f7fa;
$txtGrey : #8f9497;
$txtGrey2 : #838e96;
$blueIcon : #eaf3f8;
$blueColor5 : #005270;
$blueColor6 : #5c93a7;
$colorgrey : #dfe3e6;
$colorgrey2:#f1f4f6;
$buttonBlue : #0080b4;
$bgBorderCtr:#dee2e5;
$bgBluePz : #005270;
$borderInst : #c6c9cb;
$bluetable : #2c6981;
// mayega color
$primarymyae: #974891;
$primarymya: #e5aee1;
$primarymya2 : #303353;
$secondarymya: #141625;
$scd: #690864;
$scd2: #ca77c4;
$sponsor: #ca77c4;
$bgHeader2 : rgba(34, 42, 78, 0.6);
$bgHeader3 : rgba(22, 12, 36, 0.6);
$bgHeader: rgba(170, 94, 189, .6);
$ctaDefault: #101635;
$txtScd: #1C1C1C;
$bgBanner: #342959;
$bgSite: #FCF3E4;
$astColor2: #EF7D5B;
$astColor1:#2098d1;
$colorDevis : #303353;
$currentTarif : #cf92cc;
$pushEven: #342959;
$ctaSubmit: #2098d1;
$hoverCtaSubmit: #6cc1ea;