  /* all bigger than a tablet */
  $mediaDesktopOnly :"all and (min-width :1025px)";
  /* large screen */
  $mediaLargeDesktop :"all and (min-width :1440px)";
  /*desktop and tablet landscape */
  $mediaDesktop : "all and (max-width:1239px)";
  /* mobile */
  $mediaMobile :"all and (max-width:1023px)";
  /* specifi mobile landscape */
  $mediaSpecificMobile :"all and (max-width:1023px) and (orientation : landscape)";
  /* specific portrait */
  $mediaSpecificTablet :"all and (min-width : 768px) and (max-width : 1023px)";
  /* specific landscape*/
  $mediaSpecificTabletLand :" only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)";
  /* specifi mobile landscape */
  $mediaOnlyMobile :"all and (max-width :767px)";
@import "color";
@import "mixins";
	
.navigation{
	width:100%;
	display: flex;
    align-items: center;
    justify-content: center;

	@include mbLarge {
		justify-content: left;
    	flex-wrap: wrap;
	}
}
.site-content-contain{
	.site-content{
		padding:0  0 0 0!important;
		background: $bgSite;
	}
	.main-slider{
		padding-bottom:40px !important;
	}
}
footer{
	.wpcf7{
		p{
			margin:0;
		}
	}
}
.main-footer{
	clear:both !important;
}
.single{
	#primary{
		width:100% !important;
		max-width:100%;
		clear:both;
	}
}
.sidebar-page{
	.search-form{
		label{
			display:none;
		}
	}
}
.parent{
	&.comment{
		padding-left:0px !important;
	}
}

.comment-reply-link, .comment-reply-link:hover {
	text-decoration:none;
	box-shadow:none;
	color:#fff;
}
.page{
#content{
	.wpcf7-form{
		h4 {
			font-family: 'Raleway';
			font-size: 15px;
			font-weight: bold;	
			padding: 16px 0 0 0;
			color: $primarymya2;
		}
		label {
			width: 100%;
			display: block;
			margin-top: 15px;
		}

		select{
			padding-left: 16px;
			display: block;
		}
		.wpcf7-form-control-wrap, select{
			float:none;
			display: block;
			width: 100%;
			padding-top:0;
			
			&.travaux {
				.wpcf7-form-control {
					display: flex;
					@include mbLarge {
						flex-wrap: wrap;
					}
				}
			}
			.wpcf7-list-item {
				width: 200px;
				label {
					display: flex;
					align-items: center; 

					input[type="checkbox"]{
						width: auto;
						min-width: 16px;
						margin-right: 11px;
						padding: 0;
						margin: 0 8px 0 0;
					}
				}
			}
			
			@include mb{
			    float: none;
			    display: block;
			    width: 100%;
			    padding:0;
			}
			input, textarea{
				position: relative;
			    display: block;
			    line-height: 30px;
				height: 40px;
			    padding: 0 20px;
			    color: #555555;
			    background: #ffffff;
			    border: 1px solid #e0e0e0;
			    -webkit-transition: all 500ms ease;
			    -ms-transition: all 500ms ease;
			    -moz-transition: all 500ms ease;
			    transition: all 500ms ease;
			}
			textarea{
				height:80px;
				width: 100%;
				margin-bottom: 30px;
			}

		}
		input{
			&[type="submit"]{
				max-width:300px;
				float:none;
				margin: 0 auto;
				display: block;
				background: $astColor1;
				@include mb{
					max-width:100%;
					margin-right:0;
				}
			}
		}

		.wpcf7-not-valid-tip {
			font-weight: bold;
		}
	}
}
}
.other-info{
	.contact-sp-form{
		input[type="submit"]{
			margin-right:15px;
			margin-top:15px;
			&:hover{
				border:2px solid #f14b05;
				box-sizing:border-box;
			}
		}
		.wpcf7-not-valid{
			border:1px solid #f00 !important;
		}
		.wpcf7-not-valid-tip{
			padding-bottom:12px;
		}
		.wpcf7-validation-errors{
			display:block !important;
			clear:both !important;
			border:2px solid #f00;
			color:#f00;
			padding-left: 0;
			padding-right: 0;
			text-indent: 8px;

		}
		label{
			&.error{
				color:#f00;
			}
		}
	}
}
.footer-upper{
	.wpcf7-form-control-wrap{
		width:100% !important;
		padding-left:0;
		padding-right:0;
	}
}
.contact-section {
	h2{
		padding-left:13px;
		margin:0;
		padding-top:0;
	}

	.title-sct {
		color: $primarymya;
		font-size: 30px;
		letter-spacing: 2px;
	}
} 

.default-featured-column, .category .blog-news-column{
	.image-box{
		height:216px;
		img{
			width: 100%;
	    	height: auto !important;
	    	position:absolute;
	    	top:0;
	    	left:0;
		}
	}	
}
.vertical-links-outer.events-post{
	.default{
		.image-thumb{
			overflow:hidden;
			@media #{$mediaMobile}{
				position:static;
			}
			img{
				height:100%;
				max-width:initial !important;
				width:auto;

			}
		}	
	}
}  
html{
	body{
		@include mbLarge{
			padding-top: 0;
			@include transition();
			left: 0;
			position:relative;
			&.single, &.page {
				padding-top: 0;
			}
			&.open-nav{
				overflow:hidden;
				left:60%;
				background: #000;

				.btn-contact-link {
					opacity: 0.3;
				}
				&:before{
					content:"";
					position:fixed;
					top:0;
					left:0;
					background: rgba(0,0,0,0.8);
					opacity: 1;
					width:100%;
					height:100%;
					z-index:100;
					display:block;
				}
				.main-menu{
					.navbar-toggle{
						left:20px;
						background-color: $primarymya;
						border-radius: 0 5px 5px 0;
						@include mbLarge {
							min-width: 50px;
						}
						span {
							background-color: $white !important;
							width: 100%;
							&:nth-child(1) {
								transform: rotate(-45deg);
								width: 80%;
								position: absolute;
								left: 6px;
								top: 20px;
							}
							&:nth-child(3){
								transform: rotate(45deg);
								width: 80%;
								position: absolute;
								left: 6px;
								top: 17px;
							}
							&:nth-child(2) {
								display: none;
							}
						}
					}
				}

				.header-style-two {
					left: 100%;
					.navbar-header {
						left: 80%;
						top: 18px;
						position: fixed;

						.navbar-toggle {
							background: $primarymya !important;
						}
					}

					.btn-box {
						display: none;
					}
				}

				
			}
		}
	}
	.main-menu{
		@include mbLarge{
			padding:0;
			width:85%;
			position:fixed;
			top:15px;
			left:15px;
			z-index:10000000;
			background: rgba(49,49,49,0.9) !important;
			.navbar-header{
				position:absolute;
				top:2px;
				padding:0 !important;
				margin:0 !important;
				display:block !important;
				width: 30px;
				left: 0;
				&:before, &:after{
					display:block !important;
				}
				.nav-bar{
					position:absolute !important;
					@include transition();

				}
				.navbar-toggle{
					background:transparent;
					border:0 none;
					left:initial;
					right:0;
					@include transition();
					display: flex !important;
					flex-direction: column;
					justify-content: space-around;
					height: 46px;
					&.active{
						background:transparent;
						border-radius:5px,
					}
					span{
						background:$white !important;
						height: 3px; 
						border-radius: 10px;
						width: 33px;

						&:first-child {
							width:90%;
						}

						&:last-child {
							width: 80%;
						}
					}
				}
			}
			.collapse, .collapsing{
				 position: fixed !important;
				 top: 0 !important;
				 left: -100% !important;
				 height:100% !important;
				 width:85% !important;
				 max-height: initial !important;
				 background: $white  !important;
				display:block !important;
				@include transition();
				box-shadow: -16px 0 20px #000;
				&.in{
					padding: 0;
				    margin: 0;
				    height: 100%;
				    max-height: initial;
				    position: fixed;
				    top: 0 !important;
				    left: 0 !important;
				    background: #fff !important;
				    border:1px solid $primarymya !important;
					padding:40px !important;
					border-radius: 0;
					@include mbLarge {
						background: $primarymya !important;
					}
				}
				.navigation{
					border:0 none !important;
					padding: 0;
					background-color: transparent;
					li{
						border:0 none !important;
						line-height:50px !important;
						padding:0 !important;
						text-indent:15px;
						position:relative;
						background: transparent !important;

						&.current-menu-item, &.current{
							a {
								color: $primarymya !important;
								
								@include mbLarge {
									background: $white !important;
									border-radius: 35px;
									padding: 0 8px !important;
								}
							}
						}
						.icon{
							height: 25px;
						    width: 25px;
						    line-height: 50px;
						    text-align: center;
						    font-size: 6px;
						    position: absolute;
						    top: 10px;
						    right: 12px;
						}
						.dropdown-btn{
							height:50px !important;
							width:50px !important;
							line-height:50px !important;
							text-align:center !important;
							font-size:13px;
							position:absolute !important;
							top:0 !important;
							right:0 !important;
							left:initial !important;
							display:block !important;
						}
						&.dropdown{
							a{
								&:before{
									height:50px;
									width:50px;
									line-height:50px;
									text-align:center;
									font-size:20px;
									display:none;
								}
							}
							.sub-menu{
								li{
									background:#fff !important;
									&.current {
										a {
											color : $primarymya !important;
											background:#fff !important;

											&:after {
												top: 12px; 
												color:$primarymya !important;
											}
										}
									}
									+ li{
										border-top:0 none!important;
									}
								}
							}
						}
						a{
							padding:0 !important;
							color:$secondarymya;	
							line-height:50px;
							background:transparent !important;
							font-size: 20px;

							@include mbLarge {
								font-size: 15px;
							}

							a:before{

							}
						}
						+ li{
							border-top:0 none !important;
							margin-top: 11px !important;
						}
					}
				}
			}
		}
	}
	.header-style-two{
		.lower-part{
			height:auto !important;
			.outer-box{
				@media #{$mediaOnlyMobile}{
					padding:0;
				}
				.btn-box{
					@include mbLarge{
						width:100%;
						clear:both;
						position:fixed;
						bottom:0 !important;
						top:initial !important;
						left:0;
						height:auto;
					}
					a{

					}
				}	
			}
		}
	} 
	.header-style-two .header-top .logo img{
		@media #{$mediaMobile}{
			max-width:185px !important;
		}
	}
} 
html{
	.sec-title {
	  position: relative;
	  margin-bottom: 50px;
	  font-family:arial;
	  margin-top: 95px;
	  h2{
	  	span{
			 font-weight:bold;
	  	}
	  }
	  .text{
	  	color:#000 !important;
	  }
	}
}
html{
	.vertical-links-outer.events-post {
		.default{
			@media #{$mediaMobile}{
				padding : 15px 70px 20px 20px;
			}
		}	
	}
}

html {
	.main-menu {
		.whiteFixed {
			li {
				a {
					color: #fff !important;
				}
			}
		}
	}
}

.defaultContent {
	padding-top: 50px;
	padding-bottom: 50px;
	h1, h4 {
		font-size: 30px;
		color: $primarymya2;
		font-weight: bold;
		padding-bottom: 24px;
	}
	p {
		font-size: 19px;
		line-height: 38px;
		font-weight: normal;
		color: rgb(7, 7, 7);
	}
}

.contact-view {
	display: flex;
    flex-wrap: wrap;
	margin-bottom: 80px;

	@include mbLarge {
		flex-wrap: wrap;
	}
	.map-canvas{
		position: relative;
    	overflow: hidden;
    	width: 50%;
		height: auto !important;

		@include mbLarge {
			width: 100%;
			height: 400px !important;
			order: 2;
		}
	}

	.default-section{
		width: 50%;
		padding-top: 0;
		position: relative;
		left: 0;
		margin: 50px auto;
		background: #fff;
		top: 0;
		border-top: 10px solid $primarymya;

		@include mbLarge {
			width: 100%;
			order: 1;
			position: static;
			border-top: 0 none;
		}

		.defaultContent {
			padding-top: 0;
			padding-bottom: 0;
			.row {
				margin: 0;
				> div {
					margin: 0;
					padding: 0;
				}
			}
		}

		.other-info {
			padding: 20px 50px !important;
			margin:0;
			background: $white;

			@include mbLarge {
				padding: 20px 0 !important;
			}

			.info-box {
				padding: 0 0 30px;
			}
		}
	}

	.title-colsingle {
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		font-weight: bold; 
		padding: 30px 0;
	}
	.contact-section {
		padding: 0 30px 30px;

		.title-colsingle {
			color: $primarymya;
		}

		.contact-form {
			width: 100%;
		}
	}
	
	.wpcf7-response-output {
		border-color: #e00002;
	}
}

html {
	#page {
		.default-section {
			@include mbLarge {
				width: 100%;
				padding: 40px 0;
			}

			.title_devis {
				@include mbLarge {
					padding: 0 40px;
				}
			}
		}
	}
}

.paypal_container {
	display: none;
}